Repository trufflesecurity/trufflehog, pull requests merged in 2023-10, with the labels that each got.

#1836 update pagerdutyapikey detector to tri-state verification
  pkg/detectors/pagerdutyapikey/pagerdutyapikey.go
  pkg/detectors/pagerdutyapikey/pagerdutyapikey_test.go
Labels: pkg/detectors

#1862 Detector-Competition-New: add ramp.com client id & secret detector
  pkg/detectors/ramp/ramp.go
  pkg/detectors/ramp/ramp_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1861 Detector-Competition-New: add anthropic api key detector
  pkg/detectors/anthropic/anthropic.go
  pkg/detectors/anthropic/anthropic_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1866 Detector-Competition-Fix: fix notion.so false negative verification
  pkg/detectors/notion/notion.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1870 Detector-Competition-Feat: Add Klaviyo API Secret Detector
  pkg/detectors/klaviyo/klaviyo.go
  pkg/detectors/klaviyo/klaviyo_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1883 added cody gateway token detection code
  pkg/detectors/sourcegraphcody/sourcegraphcody.go
  pkg/detectors/sourcegraphcody/sourcegraphcody_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1910 Fix for #1526: Update Posthog detector
  pkg/detectors/posthog/posthog.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1900 Add Voiceflow detector
  pkg/detectors/voiceflow/voiceflow.go
  pkg/detectors/voiceflow/voiceflow_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1916 Detector-Competition-Fix: Fix plaid.com API key detection
  pkg/detectors/plaidkey/plaidkey.go
  pkg/detectors/plaidkey/plaidkey_test.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1888 Detector-Competition-Feat: Add Privacy.com API key detector
  pkg/detectors/privacy/privacy.go
  pkg/detectors/privacy/privacy_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1889 Detector-Competition-Feat: Add ipinfo.io API key detector
  pkg/detectors/ipinfo/ipinfo.go
  pkg/detectors/ipinfo/ipinfo_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1915 Detector-Competition-New: add IP2Location api key detector
  pkg/detectors/ip2location/ip2location.go
  pkg/detectors/ip2location/ip2location_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1947 Detector-Competition-Fix: Fix SuperNotes API verification
  pkg/detectors/supernotesapi/supernotesapi.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1905 Detector-Competition-Feat: Add InstaMojo Payment Detector
  pkg/detectors/instamojo/instamojo.go
  pkg/detectors/instamojo/instamojo_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1945 Detector-Competition-Fix: Fix CodeClimate verification
  pkg/detectors/codeclimate/codeclimate.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1944 Detector-Competition-Fix: Fix CloudSmith verification
  pkg/detectors/cloudsmith/cloudsmith.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1932 Detector-Competition-fix: NewRelic Detector -fallback to EU Api for verification
  pkg/detectors/newrelicpersonalapikey/newrelicpersonalapikey.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1921 fix #1751: update facebookOauth Detector
  pkg/detectors/facebookoauth/facebookoauth.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1938 Detector-Competition-Feat: Added PortainerToken Detector
  pkg/detectors/portainertoken/portainertoken.go
  pkg/detectors/portainertoken/portainertoken_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1782 loggly detector
  pkg/detectors/loggly/loggly.go
  pkg/detectors/loggly/loggly_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: pkg/detectors

#1940 Detector-Competition-Feat: Added OpenVPN API Detector
  pkg/detectors/openvpn/openvpn.go
  pkg/detectors/openvpn/openvpn_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1936 Detector-Competition-Feat: Added Portainer Detector
  pkg/detectors/portainer/portainer.go
  pkg/detectors/portainer/portainer_test.go
  pkg/pb/detectorspb/detectors.pb.go
  pkg/pb/sourcespb/sources.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1992 Detector-Competition-Fix: Fix/Remove baseapi detector (no longer exists)
  pkg/detectors/baseapiio/baseapiio.go
  pkg/detectors/baseapiio/baseapiio_test.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1941 Detector-Competition-Feat: Added Vagrant Cloud Access Token Detector
  pkg/detectors/vagrantcloudpersonaltoken/vagrantcloudpersonaltoken.go
  pkg/detectors/vagrantcloudpersonaltoken/vagrantcloudpersonaltoken_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1961 Detector-Competition-Fix : fixed monday.com regex
  pkg/detectors/monday/monday.go
  pkg/detectors/monday/monday_test.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1949 Detector-Competition-Fix: Fix ScreenshotAPI Verification
  pkg/detectors/screenshotapi/screenshotapi.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1946 Detector-Competition-Fix: Fix MeaningCloud Verification
  pkg/detectors/meaningcloud/meaningcloud.go
Labels: Hacktoberfest-Detector-Competition-Fix

#2000 Detector-Competition-Fix: Deprecate Glitterly
  pkg/detectors/glitterlyapi/glitterlyapi.go
  pkg/detectors/glitterlyapi/glitterlyapi_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-Fix

#1996 Detector-Competition-Fix: Fix/Remove BlaBlaBus, API retired
  pkg/detectors/blablabus/blablabus.go
  pkg/detectors/blablabus/blablabus_test.go
  pkg/engine/defaults.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-Fix

#1997 Detector-Competition-Fix: Fix/Remove QuickMetrics (shutdown)
  pkg/detectors/quickmetrics/quickmetrics.go
  pkg/detectors/quickmetrics/quickmetrics_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-Fix

#1995 Detector-Competition-Fix: Fix/Remove DataFire, API retired
  pkg/detectors/datafire/datafire.go
  pkg/detectors/datafire/datafire_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-Fix

#2003 Detector-Competition-Fix: Fix/Remove Happi Detection & Verification
  pkg/detectors/happi/happi.go
  pkg/detectors/happi/happi_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-Fix

#2004 Detector-Competition-Fix: Fix/Remove Flowdock detector
  pkg/detectors/flowdock/flowdock.go
  pkg/detectors/flowdock/flowdock_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-Fix

#1948 Detector-Competition-Fix: Fix SurveyBot Verification
  pkg/detectors/surveybot/surveybot.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1987 Detector-Competition-Feat: Added BetterStack API token detector
  pkg/detectors/betterstack/betterstack.go
  pkg/detectors/betterstack/betterstack_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1988 Detector-Competition-Feat: Added ZeroTier API token detector
  pkg/detectors/zerotier/zerotier.go
  pkg/detectors/zerotier/zerotier_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1989 Detector-Competition-Feat: Added AppOptics API token detector
  pkg/detectors/appoptics/appoptics.go
  pkg/detectors/appoptics/appoptics_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1902 Detector-Competition-Feat: Add Metabase Session Secret Detector
  pkg/detectors/metabase/metabase.go
  pkg/detectors/metabase/metabase_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1895 Add Coinbase Wallet-as-a-Service detector
  go.mod
  go.sum
  pkg/detectors/coinbase_waas/coinbase_waas.go
  pkg/detectors/coinbase_waas/coinbase_waas_test.go
  pkg/detectors/voiceflow/voiceflow_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#2017 Detector-Competition-Feat: Added LemonSqueezy API token detector
  pkg/detectors/lemonsqueezy/lemonsqueezy.go
  pkg/detectors/lemonsqueezy/lemonsqueezy_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#2016 Detector-Competition-Feat: Added Budibase API token detector
  pkg/detectors/budibase/budibase.go
  pkg/detectors/budibase/budibase_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#2018 Detector-Competition-Feat: Added Stripo API token detector
  pkg/detectors/stripo/stripo.go
  pkg/detectors/stripo/stripo_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#2019 Detector-Competition-Feat: Added Reply.io API token detector
  pkg/detectors/replyio/replyio.go
  pkg/detectors/replyio/replyio_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1917 Detector-Competition-Fix: Fix currencycloud.com API key
  pkg/detectors/currencycloud/currencycloud.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1929 Detector-Competition-Fix: Fix Bitcoin Average detector
  pkg/detectors/bitcoinaverage/bitcoinaverage.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1935 Detector-Competition-Fix: Update formio regex to match Jwt token
  pkg/detectors/formio/formio.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1950 Detector-Competition-Fix: Fix SalesBlink Detection & Verification
  pkg/detectors/salesblink/salesblink.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1933 Detector-Competition-Fix: Fix AppFollow Detection & Verification
  pkg/detectors/appfollow/appfollow.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1957 Detector-Competition-Fix: Fix redis to now support SSL, and look for azure redis connection strings
  pkg/detectors/redis/redis.go
  pkg/detectors/redis/redis_test.go
Labels: Hacktoberfest-Detector-Competition-Fix

#1956 Detector-Competition-Feat: Adding Azure Batch keys
  pkg/detectors/azurebatch/azurebatch.go
  pkg/detectors/azurebatch/azurebatch_test.go
  pkg/engine/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Labels: Hacktoberfest-Detector-Competition-New

#1834 update braintreepayments detector to tri-state verification
  pkg/detectors/braintreepayments/braintreepayments.go
  pkg/detectors/braintreepayments/braintreepayments_test.go
Labels: pkg/detectors
