Repository trufflesecurity/trufflehog, changes with the owners that CODEOWNERS names for each.
All owners: @trufflesecurity/product-eng, @trufflesecurity/Scanning, @trufflesecurity/OSS, @trufflesecurity/backend

fixing clone refs overlap error
  pkg/sources/git/git.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

feat: re-intro bitbucket in engine.
  pkg/detectors/bitbucketapppassword/bitbucketapppassword.go
  pkg/engine/defaults/defaults.go
Owners: @trufflesecurity/OSS, @trufflesecurity/Scanning

feat: add BitbucketAppPassword detector type to proto files
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Owners: @trufflesecurity/product-eng, @trufflesecurity/Scanning, @trufflesecurity/OSS

Update ngrok.go detector to handle 403s properly
  pkg/detectors/ngrok/ngrok.go
Owners: @trufflesecurity/OSS

Removing hardcoded options in GHA docker run and providing output configuration
  action.yml
Owners: @trufflesecurity/product-eng

Update ngrok.go detector to handle 403s properly (#4216)
  pkg/detectors/ngrok/ngrok.go
Owners: @trufflesecurity/OSS

Analyzer/datadog (#4132)
  pkg/analyzer/analyzers/analyzers.go
  pkg/analyzer/analyzers/datadog/datadog.go
  pkg/analyzer/analyzers/datadog/datadog_test.go
  pkg/analyzer/analyzers/datadog/expected_output.json
  pkg/analyzer/analyzers/datadog/models.go
  pkg/analyzer/analyzers/datadog/permissions.yaml
  pkg/analyzer/analyzers/datadog/requests.go
  pkg/analyzer/analyzers/datadog/scopes.json
  pkg/analyzer/cli.go
  pkg/detectors/datadogtoken/datadogtoken.go
  pkg/tui/pages/analyze_form/analyze_form.go
Owners: @trufflesecurity/product-eng, @trufflesecurity/OSS

(fix) validation to ensure only one of --org or --repo is provided for Github source (#4141)
  main.go
Owners: @trufflesecurity/product-eng

updated the regex patterns to avoid false positives
  pkg/detectors/dockerhub/v1/dockerhub.go
  pkg/detectors/dockerhub/v2/dockerhub.go
Owners: @trufflesecurity/OSS

updated the deprecated docker hub api in docker hub detector
  pkg/detectors/dockerhub/v1/dockerhub.go
Owners: @trufflesecurity/OSS

handled 429 response code in docker hub verification api
  pkg/detectors/dockerhub/v1/dockerhub.go
  pkg/detectors/dockerhub/v2/dockerhub.go
Owners: @trufflesecurity/OSS

Update pkg/detectors/bitbucketapppassword/bitbucketapppassword.go Co-authored-by: Amaan Ullah <amaanuj.dev@gmail.com>
  pkg/detectors/bitbucketapppassword/bitbucketapppassword.go
Owners: @trufflesecurity/OSS

the URL encoding was only for the % character, changed it to PathEscape to account for other special characters
  pkg/giturl/giturl.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

straightforward addition of percent encoding for raw brackets
  pkg/giturl/giturl.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

fixed spelling issue
  pkg/common/utils.go
Owners: @trufflesecurity/OSS

incorporated Dustin's comment
  README.md
Owners: @trufflesecurity/product-eng

added test case for bracket encoding
  pkg/giturl/giturl_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

addition of percent encoding for raw brackets CSM-1195 (#4221)
  pkg/giturl/giturl.go
  pkg/giturl/giturl_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

Update false positives map to handle empty strings and remove validation method from GCP application default credentials detector
  pkg/detectors/falsepositives.go
  pkg/detectors/gcpapplicationdefaultcredentials/gcpapplicationdefaultcredentials.go
Owners: @trufflesecurity/OSS

revert the gcp adc detector changes
  pkg/detectors/gcpapplicationdefaultcredentials/gcpapplicationdefaultcredentials_test.go
Owners: @trufflesecurity/OSS

bannerbear detector v2 added
  pkg/detectors/bannerbear/v1/bannerbear.go
  pkg/detectors/bannerbear/v1/bannerbear_integration_test.go
  pkg/detectors/bannerbear/v1/bannerbear_test.go
  pkg/detectors/bannerbear/v2/bannerbear.go
  pkg/detectors/bannerbear/v2/bannerbear_integration_test.go
  pkg/detectors/bannerbear/v2/bannerbear_test.go
  pkg/engine/defaults/defaults.go
Owners: @trufflesecurity/OSS, @trufflesecurity/Scanning

refactor: optimize private key normalization with single-pass replacements and fewer allocations
  pkg/detectors/privatekey/normalize.go
  pkg/detectors/privatekey/normalize_test.go
Owners: @trufflesecurity/backend

rename param
  pkg/detectors/privatekey/normalize.go
Owners: @trufflesecurity/backend

inline if check
  pkg/detectors/privatekey/normalize.go
Owners: @trufflesecurity/backend

move
  pkg/detectors/privatekey/normalize.go
Owners: @trufflesecurity/backend

refactor: use HandleFile for Jenkins build log processing to improve chunking
  pkg/sources/jenkins/jenkins.go
  pkg/sources/jenkins/jenkins_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

perf: optimize LDAP detector to avoid cartesian product explosion
  pkg/detectors/ldap/ldap.go
  pkg/detectors/ldap/ldap_integration_test.go
  pkg/detectors/ldap/ldap_test.go
Owners: @trufflesecurity/OSS

re-comment in test.
  pkg/detectors/ldap/ldap_integration_test.go
Owners: @trufflesecurity/OSS

redue maxProximity
  pkg/detectors/ldap/ldap.go
Owners: @trufflesecurity/OSS

revert go 1.24 changes
  pkg/detectors/ldap/ldap_test.go
Owners: @trufflesecurity/OSS

use table driven benchmark
  pkg/detectors/ldap/ldap_test.go
Owners: @trufflesecurity/OSS

cleanup
  pkg/detectors/ldap/ldap_test.go
Owners: @trufflesecurity/OSS

[wip] detector feat: added hasura detector
  pkg/detectors/hasura/hasura.go
  pkg/detectors/hasura/hasura_integration_test.go
  pkg/detectors/hasura/hasura_test.go
  pkg/engine/defaults/defaults.go
Owners: @trufflesecurity/OSS, @trufflesecurity/Scanning

fix: added tests
  pkg/detectors/hasura/hasura.go
  pkg/detectors/hasura/hasura_integration_test.go
  pkg/detectors/hasura/hasura_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Owners: @trufflesecurity/OSS, @trufflesecurity/product-eng, @trufflesecurity/Scanning

updated audd.io api detector
  pkg/detectors/audd/audd.go
Owners: @trufflesecurity/OSS

Log whenever we hit the recursion limit
  pkg/sources/postman/postman.go
  pkg/sources/postman/substitution.go
  pkg/sources/postman/substitution_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

No need to take the address of a map; they're already pointer types
  pkg/sources/postman/substitution.go
  pkg/sources/postman/substitution_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

Add git metrics for cloning and scanning
  pkg/sources/git/git.go
  pkg/sources/git/metrics.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

Log recursion limiting (#4236)
  pkg/sources/postman/postman.go
  pkg/sources/postman/substitution.go
  pkg/sources/postman/substitution_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

Add git metrics for cloning and scanning (#4234)
  pkg/sources/git/git.go
  pkg/sources/git/metrics.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

CODEOWNERS:

# catch-all
* @trufflesecurity/product-eng

# Scanning
pkg/writers/ @trufflesecurity/Scanning

# Shared
pkg/decoders/ @trufflesecurity/Scanning @trufflesecurity/OSS
pkg/engine/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/gitparse/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/giturl/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/handlers/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/iobuf/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/sanitizer/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/sources/ @trufflesecurity/Scanning  @trufflesecurity/OSS
proto/ @trufflesecurity/Scanning  @trufflesecurity/OSS

# OSS
pkg/detectors/ @trufflesecurity/OSS
pkg/common/ @trufflesecurity/OSS
pkg/custom_detectors/ @trufflesecurity/OSS
pkg/analzyers/ @trufflesecurity/OSS

# critical detectors
pkg/detectors/aws/ @trufflesecurity/backend
pkg/detectors/gcp/ @trufflesecurity/backend
pkg/detectors/azure/ @trufflesecurity/backend
pkg/detectors/okta/ @trufflesecurity/backend
pkg/detectors/privatekey/ @trufflesecurity/backend
pkg/detectors/slack/ @trufflesecurity/backend
pkg/detectors/slackwebhook/ @trufflesecurity/backend
pkg/detectors/microsoftteamswebhook/ @trufflesecurity/backend
pkg/detectors/twilio/ @trufflesecurity/backend
pkg/detectors/sendgrid/ @trufflesecurity/backend
pkg/detectors/gitlab/ @trufflesecurity/backend
pkg/detectors/gitlabv2/ @trufflesecurity/backend
pkg/detectors/github/ @trufflesecurity/backend
pkg/detectors/github_old/ @trufflesecurity/backend
pkg/detectors/githubapp/ @trufflesecurity/backend
