Repository trufflesecurity/trufflehog, changes with the owners that CODEOWNERS names for each.
All owners: @trufflesecurity/product-eng, @trufflesecurity/Scanning, @trufflesecurity/OSS, @trufflesecurity/backend

refactor: use HandleFile for Jenkins build log processing to improve chunking (#4225)
  pkg/sources/jenkins/jenkins.go
  pkg/sources/jenkins/jenkins_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

feat(ssrf): intro IsLocalIP helper to re-use off http.go
  pkg/common/net.go
  pkg/detectors/http.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper in mysql.go
  pkg/analyzer/analyzers/mysql/mysql.go
  pkg/analyzer/analyzers/mysql/permissions.yaml
Owners: @trufflesecurity/product-eng

feat(ssrf): implement ssrf helper jdbc/.. mysql, psql, mssql
  pkg/detectors/jdbc/mysql.go
  pkg/detectors/jdbc/postgres.go
  pkg/detectors/jdbc/sqlserver.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper to planetscaledb
  pkg/detectors/planetscaledb/planetscaledb.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper to mongodb
  pkg/detectors/mongodb/mongodb.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper to redis
  pkg/detectors/redis/redis.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper to ftp.go
  pkg/detectors/ftp/ftp.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper to detectors/ couchbase, sqlsrv. improve rabbitmq
  pkg/detectors/couchbase/couchbase.go
  pkg/detectors/rabbitmq/rabbitmq.go
  pkg/detectors/sqlserver/sqlserver.go
Owners: @trufflesecurity/OSS

feat(ssrf): implement ssrf helper to analyzer - postgresql
  pkg/analyzer/analyzers/postgres/permissions.yaml
  pkg/analyzer/analyzers/postgres/postgres.go
Owners: @trufflesecurity/product-eng

revert(permissions): remove unintended changes to yaml files
  pkg/analyzer/analyzers/mysql/permissions.yaml
  pkg/analyzer/analyzers/postgres/permissions.yaml
Owners: @trufflesecurity/product-eng

ssrf(http_tests.go): use helper now
  pkg/detectors/http_test.go
Owners: @trufflesecurity/OSS

chore: fix comment
  pkg/sources/huggingface/client.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

decrease max diff size in gitparse maxdiffsize test
  pkg/gitparse/gitparse_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

keep both -c and --mirror
  main.go
  pkg/feature/feature.go
  pkg/sources/git/git.go
Owners: @trufflesecurity/product-eng, @trufflesecurity/Scanning, @trufflesecurity/OSS

updated hasura detector logic and added tests
  pkg/detectors/hasura/hasura.go
  pkg/detectors/hasura/hasura_integration_test.go
  pkg/detectors/hasura/hasura_test.go
Owners: @trufflesecurity/OSS

chore: fix comment (#4239)
  pkg/sources/huggingface/client.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

simplified code
  pkg/detectors/hasura/hasura.go
  pkg/detectors/hasura/hasura_integration_test.go
Owners: @trufflesecurity/OSS

added build tag
  pkg/detectors/hasura/hasura_integration_test.go
Owners: @trufflesecurity/OSS

feat: allow changing Docker image for scan job
  README.md
  action.yml
Owners: @trufflesecurity/product-eng

Add OpenVSX detector
  pkg/detectors/openvsxdetector/openvsxdetector.go
  pkg/detectors/openvsxdetector/openvsxdetector_integration_test.go
  pkg/detectors/openvsxdetector/openvsxdetector_test.go
  pkg/engine/defaults/defaults.go
Owners: @trufflesecurity/OSS, @trufflesecurity/Scanning

Update AzureDevops scanner
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_e2e_test.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_integration_test.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_test.go
Owners: @trufflesecurity/OSS

Update Detector Type
  pkg/detectors/openvsxdetector/openvsxdetector.go
  pkg/detectors/openvsxdetector/openvsxdetector_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Owners: @trufflesecurity/OSS, @trufflesecurity/product-eng, @trufflesecurity/Scanning

Accept Github gist URLs even when they're missing owners
  pkg/sources/github/github.go
  pkg/sources/github/github_test.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

feedback addressed - simplified code
  pkg/detectors/bannerbear/v1/bannerbear_integration_test.go
  pkg/detectors/bannerbear/v2/bannerbear.go
  pkg/detectors/bannerbear/v2/bannerbear_integration_test.go
  pkg/detectors/bannerbear/v2/bannerbear_test.go
Owners: @trufflesecurity/OSS

fix lint
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_integration_test.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_test.go
Owners: @trufflesecurity/OSS

rework azuredevops pat detector to handle token with and without org
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_integration_test.go
  pkg/detectors/azuredevopspersonalaccesstoken/azuredevopspersonalaccesstoken_test.go
Owners: @trufflesecurity/OSS

keep useGitMirror on by default for OSS
  main.go
Owners: @trufflesecurity/product-eng

salesforce oauth2 secret detector added
  pkg/detectors/salesforce/salesforce.go
  pkg/detectors/salesforceoauth2/salesforceoauth2.go
  pkg/detectors/salesforceoauth2/salesforceoauth2_integration_test.go
  pkg/detectors/salesforceoauth2/salesforceoauth2_test.go
Owners: @trufflesecurity/OSS

Fixed jira detector invalid domain issue
  pkg/detectors/jiratoken/v1/jiratoken.go
Owners: @trufflesecurity/OSS

Added LangSmith API Key detector
  pkg/detectors/langsmith/langsmith.go
  pkg/detectors/langsmith/langsmith_integration_test.go
  pkg/detectors/langsmith/langsmith_test.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Owners: @trufflesecurity/OSS, @trufflesecurity/product-eng, @trufflesecurity/Scanning

added default in engine
  pkg/engine/defaults/defaults.go
Owners: @trufflesecurity/Scanning, @trufflesecurity/OSS

addressed feedback
  pkg/detectors/hasura/hasura.go
Owners: @trufflesecurity/OSS

refac keywords matching list
  pkg/detectors/openvsxdetector/openvsxdetector.go
Owners: @trufflesecurity/OSS

remove useless test hack
  pkg/detectors/openvsxdetector/openvsxdetector.go
Owners: @trufflesecurity/OSS

salesforce oauth2 detector added
  pkg/detectors/salesforce/salesforce.go
  pkg/detectors/salesforceoauth2/salesforceoauth2.go
  pkg/detectors/salesforceoauth2/salesforceoauth2_integration_test.go
  pkg/detectors/salesforceoauth2/salesforceoauth2_test.go
  pkg/engine/defaults/defaults.go
Owners: @trufflesecurity/OSS, @trufflesecurity/Scanning

Fixed jira detector invalid domain issue (#4250)
  pkg/detectors/jiratoken/v1/jiratoken.go
Owners: @trufflesecurity/OSS

Added LangSmith API Key detector (#4251)
  pkg/detectors/langsmith/langsmith.go
  pkg/detectors/langsmith/langsmith_integration_test.go
  pkg/detectors/langsmith/langsmith_test.go
  pkg/engine/defaults/defaults.go
  pkg/pb/detectorspb/detectors.pb.go
  proto/detectors.proto
Owners: @trufflesecurity/OSS, @trufflesecurity/Scanning, @trufflesecurity/product-eng

removed noncapturing group
  pkg/detectors/artifactory/artifactory.go
Owners: @trufflesecurity/OSS

added version number in case of no verification flow
  pkg/detectors/bannerbear/v2/bannerbear.go
Owners: @trufflesecurity/OSS

CODEOWNERS:

# catch-all
* @trufflesecurity/product-eng

# Scanning
pkg/writers/ @trufflesecurity/Scanning

# Shared
pkg/decoders/ @trufflesecurity/Scanning @trufflesecurity/OSS
pkg/engine/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/gitparse/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/giturl/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/handlers/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/iobuf/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/sanitizer/ @trufflesecurity/Scanning  @trufflesecurity/OSS
pkg/sources/ @trufflesecurity/Scanning  @trufflesecurity/OSS
proto/ @trufflesecurity/Scanning  @trufflesecurity/OSS

# OSS
pkg/detectors/ @trufflesecurity/OSS
pkg/common/ @trufflesecurity/OSS
pkg/custom_detectors/ @trufflesecurity/OSS
pkg/analzyers/ @trufflesecurity/OSS

# critical detectors
pkg/detectors/aws/ @trufflesecurity/backend
pkg/detectors/gcp/ @trufflesecurity/backend
pkg/detectors/azure/ @trufflesecurity/backend
pkg/detectors/okta/ @trufflesecurity/backend
pkg/detectors/privatekey/ @trufflesecurity/backend
pkg/detectors/slack/ @trufflesecurity/backend
pkg/detectors/slackwebhook/ @trufflesecurity/backend
pkg/detectors/microsoftteamswebhook/ @trufflesecurity/backend
pkg/detectors/twilio/ @trufflesecurity/backend
pkg/detectors/sendgrid/ @trufflesecurity/backend
pkg/detectors/gitlab/ @trufflesecurity/backend
pkg/detectors/gitlabv2/ @trufflesecurity/backend
pkg/detectors/github/ @trufflesecurity/backend
pkg/detectors/github_old/ @trufflesecurity/backend
pkg/detectors/githubapp/ @trufflesecurity/backend
